---

import BlogList from "@/components/blog/blogList.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Inicio">
	<!-- component -->
	<section class="bg-white dark:bg-gray-900">
		<BlogList title="From the blog"/>
	</section>
</Layout>