---
import BlogItem from "./blogItem.astro";
import {getCollection} from "astro:content";
interface Props {
    title: string
}

const {title} = Astro.props

const posts = await getCollection('blog')

---
<div class="container px-6 py-10 mx-auto">
    <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">{title}</h1>

    <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
        {posts.map(post =>
                <BlogItem post={post}/>)
        }
    </div>
</div>