---
import '../styles/global.css'
import {ClientRouter} from 'astro:transitions'
import {SITE_INFO} from "@/constants/site-info.constant.ts";

interface Props {
    title: string;
    description?: string;
    image?: string;
}
const {
    title = SITE_INFO.title,
    description = SITE_INFO.description,
    image
} = Astro.props
---
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link
            rel="alternate"
            type="application/rss+xml"
            title="Santiago Blog"
            href={new URL("rss.xml", Astro.site)}
    />
    <link
            rel="alternate"
            type="application/rss+xml"
            title="Prueba blog"
            href={new URL("rss.xml", Astro.site)}
    />
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
    <ClientRouter/>
</head>
<body>
<slot/>
</body>
</html>
